/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/bower_component

app/Http/Controllers/phpmailer/phpmailer/LICENSE
app/Http/Controllers/phpmailer/phpmailer/PHPMailerAutoload.php
app/Http/Controllers/phpmailer/phpmailer/VERSION
app/Http/Controllers/phpmailer/phpmailer/class.phpmailer.php
app/Http/Controllers/phpmailer/phpmailer/class.phpmaileroauth.php
app/Http/Controllers/phpmailer/phpmailer/class.phpmaileroauthgoogle.php
app/Http/Controllers/phpmailer/phpmailer/class.pop3.php
app/Http/Controllers/phpmailer/phpmailer/class.smtp.php
app/Http/Controllers/phpmailer/phpmailer/composer.json
app/Http/Controllers/phpmailer/phpmailer/composer.lock
app/Http/Controllers/phpmailer/phpmailer/examples/DKIM.phps
app/Http/Controllers/phpmailer/phpmailer/examples/code_generator.phps
app/Http/Controllers/phpmailer/phpmailer/examples/contactform.phps
app/Http/Controllers/phpmailer/phpmailer/examples/contents.html
app/Http/Controllers/phpmailer/phpmailer/examples/contentsutf8.html
app/Http/Controllers/phpmailer/phpmailer/examples/exceptions.phps
app/Http/Controllers/phpmailer/phpmailer/examples/gmail.phps
app/Http/Controllers/phpmailer/phpmailer/examples/gmail_xoauth.phps
app/Http/Controllers/phpmailer/phpmailer/examples/images/phpmailer.png
app/Http/Controllers/phpmailer/phpmailer/examples/images/phpmailer_mini.png
app/Http/Controllers/phpmailer/phpmailer/examples/index.html
app/Http/Controllers/phpmailer/phpmailer/examples/mail.phps
app/Http/Controllers/phpmailer/phpmailer/examples/mailing_list.phps
app/Http/Controllers/phpmailer/phpmailer/examples/pop_before_smtp.phps
app/Http/Controllers/phpmailer/phpmailer/examples/scripts/XRegExp.js
app/Http/Controllers/phpmailer/phpmailer/examples/scripts/shAutoloader.js
app/Http/Controllers/phpmailer/phpmailer/examples/scripts/shBrushPhp.js
app/Http/Controllers/phpmailer/phpmailer/examples/scripts/shCore.js
app/Http/Controllers/phpmailer/phpmailer/examples/scripts/shLegacy.js
app/Http/Controllers/phpmailer/phpmailer/examples/send_file_upload.phps
app/Http/Controllers/phpmailer/phpmailer/examples/send_multiple_file_upload.phps
app/Http/Controllers/phpmailer/phpmailer/examples/sendmail.phps
app/Http/Controllers/phpmailer/phpmailer/examples/signed-mail.phps
app/Http/Controllers/phpmailer/phpmailer/examples/smtp.phps
app/Http/Controllers/phpmailer/phpmailer/examples/smtp_check.phps
app/Http/Controllers/phpmailer/phpmailer/examples/smtp_no_auth.phps
app/Http/Controllers/phpmailer/phpmailer/examples/ssl_options.phps
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCore.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreDefault.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreDjango.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreEclipse.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreEmacs.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreFadeToGrey.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreMDUltra.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreMidnight.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shCoreRDark.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeAppleScript.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeDefault.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeDjango.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeEclipse.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeEmacs.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeFadeToGrey.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeMDUltra.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeMidnight.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeRDark.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/shThemeVisualStudio.css
app/Http/Controllers/phpmailer/phpmailer/examples/styles/wrapping.png
app/Http/Controllers/phpmailer/phpmailer/extras/EasyPeasyICS.php
app/Http/Controllers/phpmailer/phpmailer/extras/README.md
app/Http/Controllers/phpmailer/phpmailer/extras/htmlfilter.php
app/Http/Controllers/phpmailer/phpmailer/extras/ntlm_sasl_client.php
app/Http/Controllers/phpmailer/phpmailer/get_oauth_token.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-am.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ar.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-az.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-be.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-bg.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ca.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ch.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-cs.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-da.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-de.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-el.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-eo.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-es.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-et.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-fa.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-fi.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-fo.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-fr.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-gl.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-he.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-hr.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-hu.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-id.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-it.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ja.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ka.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ko.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-lt.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-lv.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ms.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-nb.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-nl.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-pl.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-pt.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-pt_br.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ro.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-ru.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-sk.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-sl.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-sr.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-sv.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-tr.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-uk.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-vi.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-zh.php
app/Http/Controllers/phpmailer/phpmailer/language/phpmailer.lang-zh_cn.php
sftp-config.json
