@font-face {
    font-family: raceFont;
    src: url("../fonts/hemi head bd it.ttf");
}

body {
	background-color: #e6e6e6;
}

.header {
	background-color: black;
	box-shadow: 0 4px 2px -2px gray;
	padding-top: 1.5%;
}

.h1-responsive {
	font-family: raceFont;
	padding-bottom: 2%;
	color: gold;
}

.h2-responsive {
	font-family: raceFont;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	text-shadow: 1px 1px gray;
}

.h2-responsive-item {
	font-family: raceFont;
	color: black;
	text-shadow: 1px 1px gray;
	padding-top: .5%;
}

.list-header {
	font-family: raceFont;
	background-color: black;
	color: #e6e6e6;
}

.list-item {
	font-family: raceFont;
	background-color: #e6e6e6;
	color: black;
}

.list-group-item:not(.no-hover):hover {
	font-family: raceFont;
	background-color: black;
	color: #e6e6e6;
}

.list-header-name {
	padding-left: 2%;
	padding-right: 20%;
}

.list-header-datecreated {
	padding-right: 14.5%;
}

.list-header-delete {
	padding-right: 16%;
}

.list-name {
	width: 30%;
	padding-left: 2%;
	padding-right: 2%;
}

.list-datecreated {
	padding-right: 20%;
}

.list-delete {
	padding-right: 28%;
}

.item-tooltip {
	padding-right: 20%;
}

.item-header-name {
	padding-left: 2%;
	padding-right: 22%;
}

.item-header-status {
	padding-right: 10%;
}

.item-header-purchasedate {
	padding-right: 10%;
}

.item-header-removeitems {
	padding-right: 12%;
}

.item-name-input {
	border-bottom: 1px solid black !important;
	box-shadow: 0 1px 0 0 black !important;
}

.item-name {
	width: 30%;
	padding-left: 2%;
	padding-right: 2%;
}

.item-status {
	width: 20%;
	padding-right: 5%;
}

.item-purchasedate {
	width: 20%;
	margin-right: 5%;
}

.item-checkbox {
	padding-right: 18%;
}

.list-group-item:hover .fa-chevron-right {
	color: gold;
}

.list-group-item:hover .fa-pencil {
	color: gold;
}

.fa-chevron-right {
	color: green;
}

.fa-pencil {
	color: green;
}

.fa-chevron-right:hover {
	color: gold;
}

.fa-pencil:hover {
	color: gold;
}

.add-button {
	font-family: raceFont;
	background-color: gold !important;
	color: black !important;
	float: right;
}

.add-button:hover  {
	font-family: raceFont;
	background-color: green !important;
	color: #e6e6e6 !important;
	border-radius: 0px !important;
}

.add-item {
	font-family: raceFont;
	background-color: gold !important;
	color: black !important;
	float: right;
}

.add-item:hover  {
	font-family: raceFont;
	background-color: green !important;
	color: #e6e6e6 !important;
	border-radius: 0px !important;
}

.email-list {
	font-family: raceFont;
	background-color: gold !important;
	color: black !important;
	float: right;
}

.email-list:hover  {
	font-family: raceFont;
	background-color: green !important;
	color: #e6e6e6 !important;
	border-radius: 0px !important;
}

.back-button {
	font-family: raceFont;
	background-color: gold !important;
	color: black !important;
	float: left;
	margin-left: 2%;
	border-radius: 0px !important;
}

.back-button:hover  {
	font-family: raceFont;
	background-color: green !important;
	color: #e6e6e6 !important;
	border-radius: 0px !important;
}

.list-name-lbl {
	font-family: raceFont;
	color: black !important;
}

#list_name {
	border-bottom: 1px solid black;
  	box-shadow: 0 1px 0 0 black;
}

#email_send {
	border-bottom: 1px solid black;
  	box-shadow: 0 1px 0 0 black;
}

#emailAddress {
	border-bottom: 1px solid black;
  	box-shadow: 0 1px 0 0 black;
}

.print-list {
	font-family: raceFont;
	background-color: gold !important;
	color: black !important;
	float: left;
}

.print-list:hover  {
	font-family: raceFont;
	background-color: green !important;
	color: #e6e6e6 !important;
	border-radius: 0px !important;
}

.custom-select {
	border-radius: 0px;
	background-color: black;
	color: #e6e6e6;
	position: relative;
	z-index: 1000;
}

.hidden {
	display: none;
}

.edit-panel {
	background-color: black;
	color: #e6e6e6;
}

.item-name-edit {
	margin-left: 2%;
	width: 25%;
}

.item-status-edit {
	margin-left: 14%;
}

.item-submit-edit {
	margin-left: 26%;
}

.btn-group > .btn {
	font-family: raceFont;
	background-color: gold !important;
	color: black !important;
}

.btn-group > .btn:hover  {
	font-family: raceFont;
	background-color: green !important;
	color: #e6e6e6 !important;
	border-radius: 0px !important;
}

.item-input-edit {
	width: 100%;
	font-family: raceFont;
	border-bottom: 1px solid #e6e6e6 !important;
	box-shadow: 0 1px 0 0 #e6e6e6 !important;
	color: #e6e6e6 !important;
}

.checkbox {
	position: relative;
	z-index: 1000;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
	border-bottom: 1px solid green !important;
	box-shadow: 0 1px 0 0 green !important;
}




