<!-- Grocery List Item Partial -->
<div id="GroceryListItemsController" ng-controller="GroceryListItemsController" ng-init="getItems()">
	<h2 class="h2-responsive-item">Grocery List Items</h2>
	<br>
	<form class="md-form" name="itemForm" id="itemForm">
	    <input type="text" name="itemName" id="item_name" class="form-control item-name-input" placeholder="Item Name" ng-model="itemName" required>
	    <span ng-show="itemForm.itemName.$dirty && itemForm.itemName.$error.required" style="color: red;">Item Name Is Required</span>
	    <button type="button" class="btn btn-primary add-item" ng-click="addItem()">Add Item</button>
	</form>
	<br>
	<br>
	<br>
	<div class="list-group">
	  	<div class="list-group-item list-header">
	  		<span class="item-header-name">Item Name</span>
	  		<span class="item-header-status">Item Status</span>
	  		<span class="item-header-purchasedate">Purchase Date</span>
	  		<span class="item-header-removeitems">Delete Item</span>
	  		<span class="item-header-edititems">Edit Item</span>
	  	</div>
	  	<div class="list-group-item list-item" ng-repeat="oneItem in items">
	  		<span class="item-name">{{oneItem.itemName}}</span>
	  		<span class="item-status">{{oneItem.itemStatus}}&nbsp;&nbsp;<i class="fa fa-check fa-6" aria-hidden="true" ng-show="oneItem.itemStatus=='Purchased'"></i></span>
	  		<span class="item-purchasedate">{{oneItem.purchaseDate}}</span>
	  		<span class="item-checkbox"><input type="checkbox" class="checkbox" id="{{'checkbox_' + oneItem.id}}"></span>
	  		<span><i class="fa fa-pencil fa-6 item-edit" aria-hidden="true" ng-click="showEdit(oneItem.id)"></i></span>
	  	</div>
	  	
	  	<form class="list-group-item list-item no-hover edit-panel hidden" name="editForm" id="editForm">
	  		<span class="item-name-edit"><input type="text" class="form-control item-input-edit" ng-model="itemNameEdit" name="itemNameEdit" id="itemNameEdit" required></span>
	  		<span class="item-status-edit">
				<div class="radio">
				  <label><input type="checkbox" class="checkbox" id="purchased">&nbsp;&nbsp;Purchased</label>
				</div>
	  		</span> 
	  		<span class="item-submit-edit">
				<div class="btn-group">
				  <button type="button" class="btn btn-primary item-submit-edit item-update-edit" ng-click="editItem(itemEdit.id)">Update</button>
				  <button type="button" class="btn btn-primary item-submit-edit item-cancel-edit" ng-click="hideEdit()">Cancel</button>
				</div>
			</span>
			<span ng-show="editForm.itemNameEdit.$dirty && editForm.itemNameEdit.$error.required" style="color: red; margin: 2%;">Item Name Is Required</span>
		</form>
	</div>
	<br>
	<div class="md-form">
		<button type="button" class="btn btn-primary print-list" ng-click="printItems()">Print List</button>
	    <button type="button" class="btn btn-primary add-button" ng-click="deleteItems()">Delete Item</button>
	    <br>
	    <input type="text" id="email_send" class="form-control" placeholder="Recipient Email Address" ngmodel="emailSend">
	    <button type="button" class="btn btn-primary email-list" ng-click="emailListItems()">Email List</button>
	</div>

	<div class="hidden print-items email-items">
		<h1 style="font-family: Arial; margin-left: 40px;">Get Those Groceries!</h1>
	  	<table style="table-layout: fixed; font-family: Arial; border-spacing: 40px 10px;">
  			<tr>
  				<th align="left">Item Name</th>
  				<th align="left">Item Status</th>
  				<th align="left"r>Purchase Date</th>
  			</tr>
  			<tr ng-repeat="oneItem in items">
  				<td align="left">{{oneItem.itemName}}</td>
  				<td align="left">{{oneItem.itemStatus}}</td>
  				<td align="left">{{oneItem.purchaseDate}}</td>
  			</tr>
  		</table>	
	</div>
</div>